Flask>=3.0
gunicorn
Flask-SQLAlchemy      # The Database ORM
Flask-WTF             # Security & Form Validation
email-validator       # Required by WTForms to check real emails
Flask-Login           # Manages the User Session (Cookies, Login/Logout state)
Werkzeug              # For password hashing (generate_password_hash)
